@model anipet.Models.Store

@{
    ViewBag.Title = "Delete";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Delete</strong>
        <small>Store</small>
    </h2>
    <hr>

    <h3 class="intro-text text-center">
        Are you sure you want to delete the store
        <strong>@Html.DisplayFor(model => model.City) , @Html.DisplayFor(model => model.StreetAddress)</strong>
        ?
    </h3>
    <hr />
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="text-align:center">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
