@model anipet.Models.FoodSource

@{
    ViewBag.Title = "Delete Food Source";
}

<div class="box" style="flex-direction: column">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Delete</strong>
        <small>Food Source</small>
    </h2>
    <hr>

    <h3 class="intro-text text-center">
        Are you sure you want to delete
        <strong>@Html.DisplayFor(model => model.Name)</strong>
        ?
    </h3>
    <hr />
    <div style="text-align:center">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-light" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>