@{
    ViewBag.Title = "About";
}

@Html.Partial("Navbar", "About")

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="box" style="flex-direction: column; align-items: center">
                <div class="col-lg-12" style="text-align:center;">
                    <hr>
                    <h2 class="intro-text text-center">
                        About
                        <strong>Anipet</strong>
                    </h2>
                    <hr>
                    <h8 class="text-center">Anipet is one of the biggest and most affordable pet stores in Israel.</h8>
                    <br />
                    <br />
                    <h8 class="text-center">We opened Anipet from the base of loving and caring all kind of animals and we have foods and equipment for dogs, cats, birds, fish and hamsters.</h8>
                    <br />
                    <br />
                    <h8 class="text-center">We would love to give you the best service that we can in our main store located in Paul Berg street in Rishon Lezion - near the Collage of Managment.</h8>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <video width="100%" height="289px" frameborder="0" controls autoplay loop a>
                    <source src="~/Content/Videos/dog_runs_into_the_water_in_slowmotion.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <br /><br />

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.1484261183227!2d34.76877271554712!3d31.98399163130133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b37bf96df5af%3A0xab734fe25f9def7a!2sCinema+City+Rishon+Lezion!5e0!3m2!1sen!2sil!4v1565463216144!5m2!1sen!2sil" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="box" style="flex-direction:column">
                <div class="col-lg-12">
                    <hr>
                    <h5 class="intro-text text-center">
                        Tips for your
                        <strong>Dog</strong>
                    </h5>
                    <hr>
                </div>
                <section>
                    <div class="tips-section" style="flex-direction:row; display: flex; text-align: center;">
                        <h5 class="our-font">
                            Always leave your pet a bowl of fresh water.
                        </h5>
                        <h5 class="our-font">
                            Walk with your dog at least twice a day, in the morning and in the evening.
                        </h5>
                        <h5 class="our-font">
                            Some dogs really like attention, give it to them.
                        </h5>
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>

        <br />

        <div class="row d-flex justify-content-center">
            <div class="box" style="flex-direction:column">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Meet Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col">
                <h3>
                    <strong>CEO: </strong> Alon A.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>Manager: </strong> Shai L.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>Team-Leader: </strong> Guy S.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>CTO:</strong> Maor R.
                </h3>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>

<script>
    $("#AboutData").ready(function () {
        $.ajax({
            url: "\\Home\\GetAboutData",
            success: function (result) {
                $("#AboutData").html(result);
            }
        });
    });
</script>
