@{
    ViewBag.Title = "About";
}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        #
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Products/Index">Producs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Purchases/Index">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="box" style="flex-direction: column; align-items: center">
                <div class="col-lg-12" style="text-align:center;">
                    <hr>
                    <h2 class="intro-text text-center">
                        About
                        <strong>anipet</strong>
                    </h2>
                    <hr>
                    <h8 class="text-center">Anipet is one of the biggest and most affordable pet stores in Israel.</h8>
                    <br />
                    <br />
                    <h8 class="text-center">We opened Anipet from the base of loving and caring all kind of animals and we have foods and equipment for dogs, cats, birds, fish and hamsters</h8>
                    <br />
                    <br />
                    <h8 class="text-center">we would love to give you the best service that we can in our main store located in Paul Berg street in Rishon Lezion- near the Collage of Managment</h8>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <video width="100%" height="289px" frameborder="0" controls autoplay loop a>
                    <source src="~/Content/videos/dog_runs_into_the_water_in_slowmotion.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <br />
        <br />
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.1484261183227!2d34.76877271554712!3d31.98399163130133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b37bf96df5af%3A0xab734fe25f9def7a!2sCinema+City+Rishon+Lezion!5e0!3m2!1sen!2sil!4v1565463216144!5m2!1sen!2sil" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <div class="box" style="flex-direction:column">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Meet Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col">
                <h3>
                    <strong>CEO: </strong> Alon A.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>Manager: </strong> Shai L.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>Team-Leader: </strong> Guy S.
                </h3>
            </div>
            <div class="col">
                <h3>
                    <strong>CTO:</strong> Maor R.
                </h3>
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="row d-flex justify-content-center">
            <div class="box" style="flex-direction:column">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

<script>
    $("#AboutData").ready(function () {
        $.ajax({
            url: "\\Home\\GetAboutData",
            success: function (result) {
                $("#AboutData").html(result);
            }
        });
    });
</script>
