@{
    ViewBag.Title = "Contact us";
}
<div class="container">
    <div class="row">
        <div class="box" style="flex-direction:column">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Contact
                    <strong>anipet</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8" style="margin-left: 17%">
                <div id="map"></div>

                <div class="col-md-4 contact-details">
                    <p>
                        Phone:
                        <strong>058-6666700</strong>
                    </p>
                    <p>
                        Email:
                        <strong><a href="mailto:anipet@gmail.com">anipet@gmail.com</a></strong>
                    </p>
                    <p>
                        Address:
                        <strong>
                           Paul Berg 43
                            <br>Rishon LeTsiyon, Israel
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Contact
                        <strong>US!</strong>
                    </h2>
                    <hr>
                    <br />
                </div>
            </div>
        </div>
    </div>