@model anipet.Models.User

@{
    ViewBag.Title = "Delete User";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">
        <strong>delete</strong>
        <small>user</small>
    </h2>
    <hr>
    <h3 class="intro-text text-center">Are you sure you want to delete<strong> @Html.DisplayFor(model => model.Username)</strong>?</h3>
    <div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="text-align:center">
                <input type="submit" value="Delete" class="btn btn-light" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>

        }
    </div>
</div>